<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<style type="text/css">
@import url(/css/main.css);
@import url(/css/overhead.css);
</style>
</head>
<body>

<div id="MenuBar">
{{ user }}
<form method="post" action="/overhead/{{ user|urlencode }}/{{ page|urlencode }}">
<input type="button" value="Add Note"/>
Tags: <input type="text" />
<input type="button" value="Save"/><input type="button" value="Delete"/>
</form>
</div>

<iframe width="100%" height="100%" src="http://{{page}}"
border="0" noborder="noborder" frameborder="0" padding="0" spacing="0"></iframe>

</body>
</html>
