body {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}
#menu-bar {
    padding: 10px 0 10px 8px;
    /*background: #33A6CF;*/
    background: #4AA5EF;
}
#notes-container {
    border: 1px solid #000;
    z-index: 99;
    width: 100px;
    height: 80px;
}
form {
    display: inline;
}
#delete-button {
    text-align: right;
}
.Note {
    z-index: 99;
    padding: 5px;
    width: 200px;
    height: 100px;
    border: 1px solid #000;
}

